.container {
    cursor: default;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 25px 30px;
    padding-bottom: 0px;
    box-sizing: border-box;

    @media(max-width: 920px) {
        padding: 25px 20px;
    }

    &-title {
        margin: 0px;
        padding: 0px;
        font-family: 'Nunito';
        font-size: 20px;
        color: #030027;

        @media(max-width: 500px) {
            font-size: 17px;
        }
    }

    &-projects {
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
        padding: 10px 15px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 12px;
    }

    &-project {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 60px;
        padding: 30px 40px;
        min-width: 100%;
        box-sizing: border-box;
        border-radius: 30px;
        border: 1px solid #cdcccc8d;
        background-color: #FFFFFE;

        @media(max-width: 1220px) {
            gap: 40px;
        }
        @media(max-width: 1180px) {
            flex-direction: column;
            gap: 15px;
            padding: 20px 20px;
        }

        &-thumbnail {
            height: 200px;
            width: 390px;
            // border-radius: 10px;

            @media(max-width: 1180px) {
                margin: auto;
            }
            @media(max-width: 560px) {
                height: 170px;
                width: 340px;
            }
            @media(max-width: 490px) {
                display: none;
            }
        }

        &-info {
            max-width: 100%;
            position: relative;
            flex: 1;
            height: auto; 
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 8px;

            @media(max-width: 1180px) {
                gap: 12px;
            }

            &-name {
                font-family: 'Poppins';
                font-size: 14px;
                color: #030027;
                font-weight: 600;
                line-height: 35px;

                @media(max-width: 1180px) {
                    margin: auto;
                    text-align: center;
                    margin-bottom: 5px;
                }
                @media(max-width: 750px) {
                    font-size: 13.5px;
                }
            }

            &-description {
                font-family: 'Montserrat';
                font-size: 12.5px;
                color: #292B33;
                line-height: 24px;
                text-align: justify;

                @media(max-width: 750px) {
                    line-height: 20px;
                    font-size: 11.8px;
                }
            }

            &-links {
                max-width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 5px;
            }

            &-link {
                max-width: 100%;
                font-family: 'Poppins';
                font-size: 12px;
                color: #2B63C9;
                text-decoration: none;
                word-wrap: break-word; 
                overflow-wrap: break-word;

                @media(max-width: 750px) {
                    font-size: 11.5px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

p {
    margin: 0px;
    padding: 0px;
}