<div class="container">
    <h1 class="container-title">
        {{ title | translate }}
    </h1>
    <div class="container-contacts">
        <div class="container-contact">
            <img class="container-icon-email"
            src="../../assets/icons/email.png" alt="">
            <p class="container-contact-text">
                carolkboabaid@gmail.com
            </p>
        </div>
        <div class="container-contact">
            <img class="container-icon-linkedin"
            src="../../assets/icons/linkedIn.png" alt="">
            <a class="container-contact-text"
            href="https://www.linkedin.com/in/mariacarolinaboabaid/" target="_blank" rel="noopener noreferrer">
                linkedin.com/in/mariacarolinaboabaid/
            </a>
        </div>
        <div class="container-contact">
            <img class="container-icon-github"
            src="../../assets/icons/github.png" alt="">
            <a class="container-contact-text"
            href="https://github.com/mariacarolinaboabaid" target="_blank" rel="noopener noreferrer">
                github.com/mariacarolinaboabaid
            </a>
        </div>
    </div>
</div>