.container {
    cursor: default;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    padding: 25px 30px;
    box-sizing: border-box;

    @media(max-width: 650px) {
        padding: 25px 15px;
    }

    &-title {
        margin: 0px;
        padding: 0px;
        font-family: 'Nunito';
        font-size: 20px;
        color: #030027;

        @media(max-width: 500px) {
            font-size: 17px;
        }
    }

    &-contacts {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }

    &-contact {
        width: 400px;
        height: 56px;
        box-sizing: border-box;
        padding-left: 50px;
        display: grid;
        grid-template-columns: 50px 1fr; 
        align-items: center;
        justify-items: flex-start; 
        gap: 15px;
        border-radius: 30px;
        border: 1px solid #cdcccc8d;
        background-color: #FFFFFE;
        background-color: #658eda89;

        @media (max-width: 650px) {
            width: 100%;
            height: 56px;
            flex-direction: column;
            gap: 5px;
        }

        &-text {
            text-decoration: none;
            font-family: 'Poppins';
            color: #292B33;
            font-size: 12px;

            @media(max-width: 750px) {
                font-size: 11.5px;
            }
        }
    }

    &-icon-email {
        height: 23px;
        width: 23px;

        @media(max-width: 500px) {
            height: 21px;
            width: 21px;
        }
    }

    &-icon-linkedin {
        height: 29px;
        width: 29px;

        @media(max-width: 500px) {
            height: 27px;
            width: 27px;
        }
    }

    &-icon-github {
        height: 31px;
        width: 31px;

        @media(max-width: 500px) {
            height: 29px;
            width: 29px;
        }
    }
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}


p {
    margin: 0px;
    padding: 0px;
}