.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 25px 30px;
    padding-bottom: 0px;
    box-sizing: border-box;

    @media(max-width: 750px) {
        padding: 25px 20px;
        padding-bottom: 0px;
    }

    &-title {
        margin: 0px;
        padding: 0px;
        font-family: 'Nunito';
        font-size: 27px;
        color: #0B0B0B;

        @media(max-width: 1050px) {
            font-size: 22px;
        }
        @media(max-width: 500px) {
            font-size: 20px;
        }
    }

    &-experiences {
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
        padding: 10px 15px;
        padding-bottom: 20px;
    }

    &-experiences,
    &-job {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 12px;
    }

    &-job {
        gap: 5px;
        padding: 15px;
        border-radius: 15px;
        border: 1px solid #cdcccc;
        background-color: #fff;
        padding: 20px 25px;
        min-width: 100%;
        box-sizing: border-box;
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);

        &-company {
            margin: 0px;
            padding: 0px;
            font-family: 'Montserrat';
            font-size: 16px;
            color: #0B0B0B;

            @media(max-width: 1050px) {
                font-size: 15px;
            }
        }

        &-period,
        &-company-info {
            margin: 0px;
            padding: 0px;
            font-family: 'Montserrat';
            font-size: 12.7px;
            line-height: 20px;
            color: #666565;

            @media(max-width: 1050px) {
                font-size: 12.5px;
                line-height: 18px;
            }
        }

        &-role {
            margin: 0px;
            padding: 0px;
            font-family: 'Poppins';
            font-size: 13.5px;
            color: #50338a;

            @media(max-width: 1050px) {
                font-size: 12.8px;
            }
        }

        &-description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-top: 14px;

            &-text {
                margin: 0px;
                padding: 0px;
                font-family: 'Montserrat';
                font-size: 13px;
                color: #000000;
                line-height: 24px;
                text-align: justify;

                @media(max-width: 1050px) {
                    font-size: 12.3px;
                    line-height: 20px;
                }
            }
        }
    }
}