.container {
    cursor: default;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    padding: 30px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 100%;

    @media(max-width: 1050px) {
        gap: 20px;
    }
    @media(max-width: 880px) {
        padding-left: 40px;
        gap: 5px;
    }
    @media(max-width: 600px) {
        padding: 20px;
    }

    &-first {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;

        @media(max-width: 1050px) {
            gap: 10px;
        }
        @media(max-width: 880px) {
            flex-direction: row;
            gap: 20px;
        }
        @media(max-width: 500px) {
            gap: 10px;
        }
        @media(max-width: 500px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &-profile-picture {
        height: 150px;
        width: 170px;
        border-radius: 50%;
        border: 2px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        @media(max-width: 1050px) {
            height: 153px;
            width: 153px;
        }
        @media(max-width: 565px) {
            height: 130px;
            width: 130px;
        }

        &-img {
            height: 173px;
            width: 183px;
            border-radius: 50%;
            background-image: url('../../assets/profile-picture/WhatsApp\ Image\ 2024-11-17\ at\ 16.43.17.jpeg');
            background-repeat: no-repeat;
            background-size: cover;

            @media(max-width: 1050px) {
                height: 153px;
                width: 153px;
            }
            @media(max-width: 565px) {
                height: 130px;
                width: 130px;
            }
        }
    }

    &-greeting {
        background-color: #2B63C9;
        padding: 7px 60px;
        border-radius: 20px;
        font-family: 'Poppins';
        color: #fff;
        font-size: 12.4px;
        display: flex;
        align-items: center;
        gap: 5px;

        p {
            margin: 0px;
            padding: 0px;
        }

        @media(max-width: 880px) {
            padding: 7px 35px;
        }
    }

    &-info {
        cursor: default;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        margin-bottom: 20px;
        margin-top: 15px;

        @media(max-width: 880px) {
            align-items: center;
            width: 100%;
        }
        @media(max-width: 500px) {
            gap: 1px;
        }

        &-role {
            margin: 0px;
            padding: 0px;
            font-family: 'Nunito';
            font-size: 24px;
            color: #030027;
            text-align: center;

            @media(max-width: 750px) {
                font-size: 19px;
                line-height: 30px;
            }
            @media(max-width: 500px) {
                margin-bottom: 3px;
            }
        }

        &-other-text {
            margin: 0px;
            padding: 0px;
            font-family: 'Poppins';
            font-size: 13px;
            color: #151E3F;

            @media(max-width: 880px) {
                text-align: center;
            }
            @media(max-width: 750px) {
                font-size: 12.2px;
                line-height: 23px;
            }
        }
    }

    &-skills {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 5px;
        border: 1px solid #cdcccc8d;
        background-color: #FFFFFE;
        padding: 8px 15px;
        border-radius: 15px;
        box-sizing: border-box;

        @media(max-width: 1250px) {
            width: 95%;
        }
        @media(max-width: 880px) {
            width: 100%;
        }

        &-hard-skills{
            @media(max-width: 880px) {
                margin-bottom: 8px;
            }
        }

        &-inner {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
            flex-wrap: wrap;

            @media(max-width: 1200px) {
                gap: 12px;
            }
        }

        &-title {
            margin: 0px;
            padding: 0px;
            font-family: 'Poppins';
            font-size: 12px;
            color: #636363;
        }

        &-text {
            margin: 0px;
            padding: 0px;
            font-family: 'Poppins';
            font-size: 13px;
            color: #4A445A;
            text-wrap: nowrap;
            margin-right: 20px;

            @media(max-width: 1200px) {
                margin-right: 30px;
            }
            @media(max-width: 750px) {
                font-size: 12px;
            }
        }
    }
}